.App {
  text-align: center;
  display:flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background-image: url(./images/bg.jpg);
  background-size: cover;
}
#header {
  background-color: rgba(255,255,255,0);
}

#header > h1 { 
  margin: 0;
  font-size:100pt;
}

#navbar-container {
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 85%;
    align-items: center;
  }

#Ui-Container {
  flex: 1 0 auto;
  max-width: 100%;
  max-height: auto;
  background-color: hsl(204, 80%, 50%);
  border-style: solid;
  border-width: 20px;
  border-color: hsl(204, 80%, 70%);
}

#map-container {
  align-content: center;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: px;
  width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;  
}

.map {
  height: 60vh;
}

.loading {
  color: white;
}

#property {
  /* background-color: rgba(62, 20, 20, 0.818); */
  color: white;
}

#popup  {
  display: flexbox;
  justify-content: center;
  text-shadow: snow;
  font-weight: bold;
  background-size: unset;
  color: lightslategray;
  border-radius: 0%;
}

#popup > h3 {
  color: darkgrey ;
  margin-bottom: 2px;
  font-size: x-large;
  text-align: center;
}

.navButtons {
margin-bottom: 40px;
}

#nav-bar-bottom {
  margin-top: 18px;
  margin-bottom: 18px;
}

#footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
}
 
 #copyright {
   font-weight: bold;
   font-size: 15pt;
   padding: 0;
   margin: 0;
 }

.button { 
  background-color: hsl(204, 90%, 20%);
  color: antiquewhite;
  font-weight: bold;
  border-style: none;
}
.button:hover {
  background-color: hsl(204, 90%, 35%);
  text-decoration: underline;
  cursor:pointer;
}

.button:active {
  background-color: hsl(204, 90%, 60%);
  outline-style: solid;
  outline-color: antiquewhite;
  outline-width: 2px;
}
