.App {
  text-align: center;
  display:flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background-image: url(./images/bg.jpg);
  background-size: cover;
}

#header > h1 { 
  margin: 0;
  font-size:80pt;
  color:hsl(204, 80%, 20%)
}

#navbar-container {
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

#Ui-Container {
  flex: 1 0 auto;
  max-width: 100%;
  max-height: auto;
  background-color: hsl(204, 80%, 50%);
  border-style: solid;
  border-width: 20px;
  border-color: hsl(204, 80%, 70%);
}

#map-container {
  align-content: center;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: px;
  width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;  
}

.map {
  height: 60vh;
  z-index: 0;
}

#popup  {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-shadow: snow;
  font-weight: bold;
  background-size: unset;
  color: lightslategray;
  border-radius: 0%;
}

#popup > h3 {
  color: darkgrey ;
  margin-bottom: 2px;
  font-size: 1.5em;
  text-align: center;
}

#nav-bar-bottom {
  margin-top: 18px;
  margin-bottom: 18px;
}

#footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
  padding: 0 20px 0 20px;
}
 
 #copyright {
   font-weight: bold;
   font-size: 15pt;
   padding: 0;
   margin: 0;
 }

 #popup .button {
    margin-left: 25%;
 }

.button { 
  background-color: hsl(204, 90%, 20%);
  color: antiquewhite;
  font-weight: bold;
  border-style: none;
}
.button:hover {
  background-color: hsl(204, 90%, 35%);
  text-decoration: underline;
  cursor:pointer;
}

.button:active {
  background-color: hsl(204, 90%, 60%);
  outline-style: solid;
  outline-color: antiquewhite;
  outline-width: 2px;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1 !important; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: hsla(204, 20%, 10%, 0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 10%;
  padding: 0;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: hsl(204, 50%, 20%);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: hsl(204, 70%, 50%);
  color: white;
}

.modal-body {
  padding: 2px 16px;
  text-align: left;
}

.confirmation {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: hsl(204, 70%, 50%);
  color: white;
}

#contact {
  cursor: pointer;
}

#contact:hover {
  text-decoration: underline;
}

#input {
  width: 100%;
  box-shadow: 2px 2px 5px rgba(76, 170, 242, 0.2) inset;
  border: 1px solid red;
}

#input:focus {
  box-shadow: 0 0 6px rgb(45, 159, 247);
  transition: .3s;
  border: 1px solid rgba(77, 77, 240, 0.5);
  outline: 0px solid white;
}

#input:valid {
  background-color:rgba(110, 186, 245, 0.25);
  box-shadow: 2px 2px 5px rgba(76, 170, 242, 0.2) inset;
  transition: 0.2s;
  border: 1px solid rgba(110, 186, 245, 0.1);
}

#input:active {
  background-color:rgba(9, 143, 245, 0.3);
  transition: 0.1s;
  border: 1px solid rgba(110, 186, 245, 0.1);
}